* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  min-height: 100vh;
  width: 17%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--cream);
  background: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px 15px;
  padding-top: 4rem;
}

ul .menu {
  background-color: transparent;
  color: #b882f7;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  border: none;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 0.75rem;
  transition: 0.3s ease;
  border: solid 2px black;
}

.menu:hover {
  background-color: #b581f19a;
  color: #c39eee;
  cursor: pointer;
}
.menu.active {
  background-color: #202020;
  color: #c39eee;
  border: solid 2px #b882f7;
}

@media (max-width: 895px) {
  .container {
    display: none;
  }
}
