* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-left: 0.75rem;
  padding-bottom: 1rem;
  background-image: url("../public/navbar_hero.jpg");
  background-size: cover;
  background-position: center;
  color: var(--cream);
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.companyName {
  display: flex;
  padding-top: 12px;
  gap: 10px;
  font-size: 3.2rem;
  font-weight: 700;
  color: #b882f7;
  text-transform: uppercase;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.createButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background: #a665f19a;
  color: #b882f7;
  border: none;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.createButton:hover,
.createButton:active {
  background: #aa75e7be;
}

.userButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: #a665f19a;
  color: #b882f7;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.userButton:hover,
.userButton:active {
  background: #aa75e7be;
  border: 1px solid #000000;
}

.icon {
  width: 1.125rem;
  height: 1.125rem;
  stroke-width: 2;
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    padding: 1rem 1.5rem;
  }

  .companyName {
    font-size: 1.25rem;
  }

  .createButton span {
    display: none;
  }

  .createButton {
    padding: 0.75rem;
    min-width: 2.75rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .companyName {
    font-size: 1.125rem;
  }
}
